#root{
    position: relative;
    height: 100%;
}

/* .forgot-wrapper
{
    height: 100%;
    background-image: url(../form-bg1.png);
    background-size: cover;
    background-position: center;
    text-align: -webkit-center;
} */

/* .forget-container{
    margin: auto;
    text-align: center;
    align-items: center;
    vertical-align:auto;
    max-width: 220px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%);
} */
/* .forget-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
} */

/* .forget-container input{
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    color: black;

} */
/* .login-btn{
    margin-top: 10px;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
} */


/* 
.login-lst-msg {
    margin-top: 10px;
}
.login-lst-msg > a{
    margin-left: 5px;
} */
@media only screen and (max-width:1000px){
    .forgot-wrapper{
    background-image: url(../form-bg.png);
    }
}