*{
    padding: 0;
    margin: 0;
}
/* #root{
    position: relative;
    height: 100%;
} */

html, body, #app, #app>div {
    height: 100%;
    position: relative;
  }

.sign-wrapper{
    /* background-color: #000000; */
    height: 100%;
    /* margin: 0px; */
    background-image: url(../form-bg1.png);
    background-size: cover;
    background-position: center;
    text-align: -webkit-center;
    color: rgb(246,160,29);
    /* border-radius: 20px; */
    
}

.sign-wrapper .login-container{
    margin: auto;
    padding: 0px 20px;
    text-align: center;
    align-items: center;
    /* vertical-align:auto; */
    /* max-width: 220px; */
    width: 400px;
    position: absolute;
    top: 5%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, 0%);
    backdrop-filter: blur(10px);
    background-color: rgb(86 86 86/33%);
}
.sign-wrapper .login-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.sign-wrapper .login-container input{
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    color: black;

}
.sign-wrapper .login-btn{
    margin-top: 10px;
    /* width: 100%; */
    /* background-color: #343131; */
    background-color: rgb(244,181,43);
    color: #000;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}



.sign-wrapper .login-lst-msg {
    font-family: '',cursive;
    font-size: 1.2rem;
    /* margin-top: 10px; */
    margin: 15px 12px;
    text-align: left;
}
.sign-wrapper .login-lst-msg > a{
    margin: 5px;
    color:rgb(217,131,35);
}

.sign-wrapper .back-container{
    font-family: '',cursive;
    font-size: 1.2rem;
    margin: 0px 10px;
}

@media only screen and (max-width:1000px){
    .sign-wrapper .sign-wrapper{
    background-image: url(../form-bg.png);
    }
}

@media only screen and (max-width:850px){
    .sign-wrapper .login-container{
        width: 300px;
        padding: 0px 10px;
    }   
}
