/* .user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
} */

.action{
    /* position: absolute; */
    top: 6px;
    right: 70px;
    font-family: 'Amatic SC', cursive;
}

.action .pro
{
    /* position: relative;
    width: 70px;
    height: 70px; */
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .pro img
{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 45px;
    height:45px;
    border-radius: 50%;
    object-fit: cover;
}

.action .menu
{
    z-index: 10;
    position: absolute;
    top: 66px;
    right: 51px;
    padding: 1px 15px;
    background: #333;
    width: 180px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    /* visibility: hidden;
    opacity: 0; */
}
/* .visible{
    visibility: visible;
} */

.action .menu::before
{
    content: '';
    position: absolute;
    top: -5;
    right: 10px;
    width: 30px;
    height: 20px;
    background: #333;
    transform: rotate(45deg);
}

.action .menu ul li 
{
    list-style: none;
    padding: 1px 1px;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}

.action .menu ul li img
{
    max-width: 45px;
    margin-left: -20px;
    margin-right: -2px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menu ul li:hover img
{
    opacity: 1;
    color: #ffbd2e84;
}

.action .menu ul li a
{
    display: inline-block;
    text-decoration: none;
    color: #f4b42ba3;
    font-weight: 500;
    transition: 0.5s;
}
.action .menu ul li:hover a{
    color: #ffbd2e;
}